 .day1{
    height: 40vw;
    width: 90vh;
    /* margin-left: 5px; */
    
} 

.days{
    height: 30vh;
    width: 110vw;
    
grid-row:auto
    
}

.search{
    width: 60px;
    
}

/* .options{
    height: 300px;
} */
.submission{
    height: 100vh;
    width: 70px;
}

.dayToo{
    width: 15px;
    height: 40px;
    background-color: aquamarine;
}